@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root{
    --branco: white;
    --cor-de-fundo: #94B4C1;
    --fundo-senha: #547792;
    --fundo-texto: #213448;
    --borda: #B2C6D5;
}